# 네이버 검색광고 API 연결 정보
# https://searchad.naver.com 에서 발급
BASE_URL=https://api.searchad.naver.com
API_KEY=여기에_API_KEY_입력
SECRET_KEY=여기에_SECRET_KEY_입력
CUSTOMER_ID=여기에_CUSTOMER_ID_입력

# PostgreSQL 데이터베이스 연결 정보
DB_HOST=여기에_DB_HOST_입력
DB_USER=여기에_DB_USER_입력
DB_PASSWORD=여기에_DB_PASSWORD_입력
DB_NAME=여기에_DB_NAME_입력
